.chatWithMessages {
    display: grid;
    grid-template-rows: 5% 85% 10%;
    gap: 0;
    height: 100%;

    height: 100%;
    width: 100%;  
}

.headerProfile{
    background-color: rgb(71, 31, 6);
}

.messageContainer{
    display: flex;
    flex-direction: column;

    height: 100%;
    display: flex;
    justify-content: flex-end
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.messageInputContainer {
    /* border-top: 1px solid #ccc;    */
    width: 100%;
}

.message{
    background-color: #6e5757;
    display: flex;
    max-width: 60%;

    margin: 1px 0;
    padding: 7px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    word-break: break-word;
    overflow-wrap: break-word;
}

.myMessage{
    margin-left: auto;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.threeDotsIconMessage {
    position: absolute;
    top: 50%;
    left: -20px;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    margin: 0;
}

.myMessage:hover .threeDotsIconMessage {
    opacity: 1;
}


.mesesageContainer {
    width: 100%;  
    height: 100%;
}

.messageBox{
    height: 100%;
    /* display: grid;
    grid-template-columns: 75% 25%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageBoxText{
    margin: 0 10px;
  
    height: 80%;
    flex: 1;
}

.messageBoxText input{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
   
}

.messageBoxButtons{
    height: 80%;
    margin-right: 10px;
}

.submitButton{
    height: 100%;
    width: 100%;

}

.submitEditedMessage{
    margin-right: 10px;
}

.messageContainer{
    display: flex;
}

.editedElement{
    display: flex;
    justify-content: flex-end;
    font-size: small;
    color: rgb(152, 165, 165);
}
