.chatWithMessages {
    display: grid;
    grid-template-rows: 5% 85% 10%;
    gap: 0;
    height: 100%;

    height: 100%;
    width: 100%;  
}


.nameOfChat{
    font-size: small;
    margin-right: 5px;
}

.statusOfOnline{
    font-size: x-small;
}

.messageContainer{
    display: flex;
    flex-direction: column;

    height: 100%;
    display: flex;
    justify-content: flex-end
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.messageInputContainer {
    /* border-top: 1px solid #ccc;    */
    width: 100%;
}

.message{
    background-color: #772e13;
    display: flex;
    max-width: 60%;

    margin: 1px 0;
    padding: 7px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    word-break: break-word;
    overflow-wrap: break-word;
}

.myMessage{
    margin-left: auto;
    position: relative;

    display: flex;
    align-items: center;
    /* justify-content: center; */
        justify-content: flex-end;

    background-color: #13449a;
}



.threeDotsIconMessage {
    position: absolute;
    top: 50%;
    left: -20px;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    margin: 0;
}

.myMessage:hover .threeDotsIconMessage {
    opacity: 1;
}


.mesesageContainer {
    width: 100%;  
    height: 100%;
}

.messageBox{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageBoxText{
    margin-right: 10px;
  
    height: 80%;
    flex: 1;
}

.messageInputContent{
    margin: 0 10px;
    height: 100%;
}

.messageBoxText input{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
   
}

.messageBoxButtons{
    height: 80%;
    /* margin-right: 10px; */
}

.submitButton{
    height: 100%;
    width: 100%;

}

.submitEditedMessage{
    margin-right: 10px;
}

.messageContainer{
    display: flex;
}

.editedElement{
    display: flex;
    justify-content: flex-end;
    font-size: small;
    color: rgb(152, 165, 165);
}

.headerProfile {
    background-color: rgb(47, 17, 60);
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    align-items: center;

}

.profileOptions{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.headerProfile:hover .profileOptions{
    opacity: 1;
}

.fileContainer {
    max-width: 100%;
    overflow: hidden;
}

.imgContainer {
    max-width: 100%;
    /* Ensures the image width does not exceed the container */
    max-height: 300px;
    /* Set a reasonable max height for the image */
    object-fit: contain;
    /* Maintain aspect ratio, show the full image */
    border-radius: 8px;
    /* Add rounded corners for better visuals */
    margin-bottom: 8px;
    /* Add spacing between the image and the text */
    display: block;
}

.ant-upload{
    height: 100%;
}

.previewContainer .imageConteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    

}


.ant-modal-content{
    background-color: rgb(49, 80, 80) !important;
}

.messageText{
    /* display: flex;
    flex-direction: column;
    margin-left: 1.5%; */
}

.resultsForSearchMessages{
    width: 100%;
}

.resultsForSearchMessages .message{
    margin-bottom: 10px;
}

.findMessageContainer {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;

}
.searchBarForMessages{
    margin-top: 20px;
}

.searchBar {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;

}

.searchInput {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.searchButton {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #0056b3;
}
