.chatWithMessages {
    display: grid;
    grid-template-rows: 5% 85% 10%;
    /* max-height: 100%;
    max-width: 100%; */
    gap: 0;
    height: 100%;

    height: 100%;
        /* Ensures the parent takes full height */
        width: 100%;
        /* Ensures the parent takes full width */
    
}

.headerProfile{
    background-color: rgb(71, 31, 6);
}

.messageContainer{
    display: flex;
    flex-direction: column;

    height: 100%;
    display: flex;
    justify-content: flex-end
}

.messages {
display: flex;
    flex-direction: column;
    /* Stack messages vertically */
    align-items: flex-start;
    /* Align messages to the start (left) */
    gap: 10px;
    /* Optional: Adds spacing between messages */
    overflow-y: auto;
    /* Enable vertical scrolling */
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
    padding: 10px;
    /* Add padding for spacing */
    width: 100%;
    /* Ensure it takes full width */
    box-sizing: border-box;
    /* Include padding in width calculations */
    
    /* Optional background color */

}

.messageInputContainer {
    border-top: 1px solid #ccc;
    background-color: #fff;


    
}

.message{
    background-color: #6e5757;
    display: flex;
    max-width: 60%;
    /* Limits the message bubble width */

    margin: 1px 0;
    /* Adds spacing between messages */
    padding: 7px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    word-break: break-word;
    overflow-wrap: break-word;
}

.myMessage{
    margin-left: auto;
    position: relative;

    display: flex;
        align-items: center;
        /* Center vertically */
        justify-content: center;
        /* Center horizontally if needed */
}

.threeDotsIconMessage {
    position: absolute;
    top: 50%;
    left: -20px;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    margin: 0;
}

.myMessage:hover .threeDotsIconMessage {
    opacity: 1;
}

